body{
    font-family: sans-serif;
}

h1{
    font-size: 40px;
    color: #444;
}

div{
    margin: 14px 6px;
}

span{
    font-size: 20px;
    padding-right: 10px;
}

input, select{
    padding: 5px 10px;
    display: inline-block;
    margin-top: 6px;
}

p{
    font-size: 30px;
    font-weight: bold;
    color: #444;
}

button{
    font-size: 16px;
    padding: 7px 14px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}